language: node_js
node_js:
- stable
dist: trusty
sudo: true
cache:
  directories:
  - node_modules
before_install:
- npm cache verify
- npm prune
- npm install -g @angular/cli
install:
- npm install
script:
- npm run ci:travis
notifications:
  email:
    - krbaio3@gmail.com
    on_failure: always
    on_success: never
deploy:
  provider: heroku
  api_key:
    secure: $HEROKU_API_KEY
  app: bzz-ng5
  local_dir: dist
  skip_cleanup: true
  branch: ng5