<!-- Heroes -->
<div *ngIf="option">
  <router-outlet></router-outlet>
</div>



<!-- Botonera Opciones -->
<div class="container main-container" *ngIf="!option">
  <button class="btn btn-outline-primary btn-block" (click)="goToAvengers()" [routerLink]="['avenger']">Avenger</button>
  <button class="btn btn-outline-primary btn-block" (click)="goToSpoty()" [routerLink]="['about_spoty']">Spoty</button>
  <button class="btn btn-outline-primary btn-block" (click)="goToNebular()" [routerLink]="['nebular']">Nebular</button>
  <button class="btn btn-outline-primary btn-block" (click)="goToMiscelaneos()" [routerLink]="['miscelaneos']">Miscelaneos</button>
</div>
